@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* BODY AND OVERALL CSS */

:root {
  --blue: blue;
  --white: white;
  --background-ease: background 0.5s ease-in-out;
}

/* body {
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
} */

body.light {
  --background-color: white;
  --text-color: black;
  /* --font-weight: 400; */
  /* helpful for replacing image based on dark mode */
  /* --image: url("../day.jpg"); */
}
body.dark {
  --background-color: #0f182a;
  --text-color: white;
  /* --font-weight: 400; */
  /* helpful for replacing image based on dark mode */
  /* --image: url("../night.jpg"); */
}
/* #imagefromlineabove {
  transition: background-image 0.7s ease-in-out;
  background-image: var(--image);
} */

#button {
  box-shadow: 4px 4px 3px #3c3c3c;
  background-color: #ffe665;
  color: black;
  font-weight: bold;
  border: none;
  transition: all 0.4s;
  transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
}
#button:hover {
  transform: scale(1.1);
  box-shadow: 8px 8px 6px #3c3c3c;
  background-color: #ffe665;
}

#container {
  background: var(--background-color);
  color: var(--text-color);
  transition: var(--background-ease);
  font-family: 'Montserrat', sans-serif;
  padding-top: 15vh;
  padding-bottom: 25vh;
  min-height: 100vh;
  padding-right: 3.5vw;
  padding-left: 3vw;
  position: relative;
  background-size: cover;
}

/* 
body,
body[data-theme="light"] {
  --color-text-primary: #000000;
  --color-text-secondary: #000000;
  --color-bg-primary: #ffffff;
  --color-bg-navbar-mobile: white;
  --color-bg-toggle: #1e90ff;
}
body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #e3e3e3;
  --color-bg-primary: #001e3d;
  --color-bg-navbar-mobile: white;
  --color-bg-toggle: #a9a9a9;
}
body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'Montserrat', sans-serif;
  transition: background 0.5s ease-in-out;
}

#alignfeatured {
  padding-left: 5%;
  padding-top: 3%;
  } */
#shadowy {
  box-shadow: 8px 8px 6px #3c3c3c;
  /* position relative enables me to bottom align the 'last updated' text */
  position: relative;
  /* next line is what makes all the blog cards the same height
  min-height: 42vh; */
  cursor: pointer;
}

  #divmesomespace {
/* these 2 lines stop cards from overlapping. also the g-5 in the row tag of index and content  */
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    #cardtitlefont {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-decoration: none;
      color: black;
    }
    #cardtextfont {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      color: grey;
      font-size: 0.7rem;
/* bottom aligns the text with 3px padding */
      position: absolute;
      bottom: 3px;
    }

#temporarilypushdown {
  margin-top: 20vh;
}

/* NAVBAR CSS */

#nav {
  background: var(--background-color);
  transition: var(--background-ease);
}
#navdropdownitem {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  transition: background 0.5s ease-in-out;
  color: black;
}
#navlinkoverridetextcolor {
  font-family: 'Montserrat', sans-serif;
  margin-top: 8px;
  color: var(--text-color);
}
#productlabbrand {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  transition: background 0.5s ease-in-out;
  padding-top: 3px;
  padding-bottom: 0px;
}
#navbartoggle {
  background: white;
}

/* @media screen and (max-width: 991px) {
  #nav {
  background: var(--color-bg-navbar-mobile);
  }
} */
/* #navlinkoverridetextcolor {
  color: var(--color-text-primary);
  font-family: 'Montserrat', sans-serif;
  transition: background 0.5s ease-in-out;
  margin-top: 8px;
}
@media screen and (max-width: 991px) {
  #navlinkoverridetextcolor {
    color: black;
  }
}

@media screen and (max-width: 991px) {
  #productlabbrand {
    color: #000000;
  }
}  */
#homelogo {
  max-height: 4rem;
  max-width: 13rem;
  cursor: pointer;
  transition: transform .2s;
}
#homelogo:hover {
  transform: scale(1.1);
}
#navlinkalign {
  margin-top: 8px;
}
#bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
#partnerbutton {
  box-shadow: 4px 4px 3px #3c3c3c;
  transition: all 0.4s;
  transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
  background: rgb(205, 25, 255);
  border: none;
}
#partnerbutton:hover {
  transform: scale(1.1);
  box-shadow: 8px 8px 6px #3c3c3c;
}


/* INDEX CSS */

#homesection {
  padding-top: 5vh;
  padding-bottom: 5vh;
}


/* ABOUT PAGE CSS */

#aboutcard {
  /* next line is what makes all the blog cards the same height */
    min-height: max(40vh, 400px);
    margin-inline: auto;
    width: 22vw;
    transition: all 0.4s;
    transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
    background: white;
    position: relative;
    }
  #aboutcard:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 6px #3c3c3c;
}

#overrideabouttextcolor {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

#accordian {
  position: absolute;
  bottom: 0px;
  width: fill;
}

#advisorcard {
    transition: all 0.4s;
    margin-inline: auto;
    transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
    }
  #advisorcard:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 6px #3c3c3c;
}

/* STUDENTS PAGE CSS */

#studentspics {
  margin-left: 5vw;
  width: 20vw;
  height: auto;
}


/* CONTENT PAGES CSS */

#contentspan {
  color: #007bf7;
  text-decoration: none;
  cursor: pointer;
}
#tabbar {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
}
#activelink {
  font-weight: 800;
}

/* EVENTS PAGE CSS */

#upcomingeventscard {
  /* next line is what makes all the blog cards the same height */
    min-height: fit-content;
    max-width: max(400px, 25vw);
    transition: all 0.4s;
    margin-inline: auto;
    transition-timing-function: cubic-bezier(0.5, 3, 0, 1);
    }
  #upcomingeventscard:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 6px #3c3c3c;
}

#upcomingeventsphoto {
  max-width: min(400px, 25vw);
  margin-inline: auto;
}
#center {
  text-align: center;
}

#pasteventscard {
  /* next line is what makes all the blog cards the same height */
    min-height: max(40vh, 450px);
    transition: all 0.4s;
    margin-inline: auto;
    transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
    }
  #pasteventscard:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 6px #3c3c3c;
}

#eventaccordian {
  position: absolute;
  bottom: 0px;
  border: none;
}

#eventdescription {
  padding-top: 10px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}



/* POST PAGE CSS */

#postcontainer {
  background: var(--background-color);
  color: var(--text-color);
  transition: var(--background-ease);
  font-family: 'Montserrat', sans-serif;
  align-content: center;
  padding-top: 9vh;
  padding-bottom: 25vh;
  padding-left: 22vw;
  padding-right: 22vw;
  min-height: 100vh;
  height: fit-content;
  width: fit-content;
  /* max-width: 100%; */
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #postcontainer {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
.postbody {
  padding-top: 30px;
  font-weight: 400;
  line-height: 2;
  width: 100%;
}

/* FAQS PAGE CSS */

#divmesomespacesmall {
  /* these 2 lines stop cards from overlapping. also the g-5 in the row tag of index and content  */
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

#faqcard {
    transition: all 0.4s;
    margin-inline: auto;
    transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
  }
#faqcard:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 6px #3c3c3c;
}

/* GET INVOLVED PAGE CSS */

#input {
  background: rgba(0, 0, 0, 0);
  border-radius: 15px;
  border-color: #ffe665;
  padding: 5px;
  width: max(33vw, 300px);
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: var(--text-color);
}

#formposition {
  margin-inline: auto;
  text-align: center;
}


/* MISCELLANEOUS COMMENTS THAT MAY COME IN USEFUL */

/* #contentcontainer {
  padding-top: 15vh;
  padding-bottom: 25vh;
  height: fit-content;
  position: relative;
  background-image: url('../public/contentbg.svg');
  background-size: cover;
} */


/* #bg3 {
  background-image: url('../public/tcss7.jpg');
  background-size: cover;
} */