@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* BODY AND OVERALL CSS */

:root {
  --blue: blue;
  --white: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  /* helpful for replacing image based on dark mode */
  /* --image: url("../day.jpg"); */
}
body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 400;
  /* helpful for replacing image based on dark mode */
  /* --image: url("../night.jpg"); */
}
/* #imagefromlineabove {
  transition: background-image 0.7s ease-in-out;
  background-image: var(--image);
} */


/* 
body,
body[data-theme="light"] {
  --color-text-primary: #000000;
  --color-text-secondary: #000000;
  --color-bg-primary: #ffffff;
  --color-bg-navbar-mobile: white;
  --color-bg-toggle: #1e90ff;
}
body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #e3e3e3;
  --color-bg-primary: #001e3d;
  --color-bg-navbar-mobile: white;
  --color-bg-toggle: #a9a9a9;
}
body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'Montserrat', sans-serif;
  transition: background 0.5s ease-in-out;
}
h1 {
  color: var(--color-text-secondary);
}
#overridetextcolor {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#alignfeatured {
  padding-left: 5%;
  padding-top: 3%;
  } */
#shadowy {
  box-shadow: 8px 8px 6px #3c3c3c;
  /* position relative enables me to bottom align the 'last updated' text */
  position: relative;
  /* next line is what makes all the blog cards the same height
  min-height: 42vh; */
  cursor: pointer;
}
#shadowy2 {
/* next line is what makes all the blog cards the same height */
    min-height: 42vh;
    transition: transform .2s;
  }
  #shadowy2:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 6px #3c3c3c;
  }
  #divmesomespace {
/* these 2 lines stop cards from overlapping. also the g-5 in the row tag of index and content  */
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    #cardtitlefont {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: black;
    }
    #cardtextfont {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      color: grey;
      font-size: 0.7rem;
/* bottom aligns the text with 3px padding */
      position: absolute;
      bottom: 3px;
    }

#temporarilypushdown {
  margin-top: 20vh;
}

/* NAVBAR CSS */

#nav {
  background: var(--background-color);
  transition: background 0.5s ease-in-out;
}
/* @media screen and (max-width: 991px) {
  #nav {
  background: var(--color-bg-navbar-mobile);
  }
} */
/* #navlinkoverridetextcolor {
  color: var(--color-text-primary);
  font-family: 'Montserrat', sans-serif;
  transition: background 0.5s ease-in-out;
  margin-top: 8px;
}
@media screen and (max-width: 991px) {
  #navlinkoverridetextcolor {
    color: black;
  }
}
#navdropdownitem {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  transition: background 0.5s ease-in-out;
}
#productlabbrand {
  color: var(--color-text-primary);
  font-family: 'Montserrat', sans-serif;
  transition: background 0.5s ease-in-out;
}
@media screen and (max-width: 991px) {
  #productlabbrand {
    color: #000000;
  }
}  */
#homelogo {
  max-height: 4rem;
  max-width: 13rem;
  cursor: pointer;
  transition: transform .2s;
}
#homelogo:hover {
  transform: scale(1.1);
}
#navlinkalign {
  margin-top: 8px;
}
#bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
#partnerbutton {
  transition: transform .2s;
  box-shadow: 4px 4px 3px #3c3c3c;
}
#partnerbutton:hover {
  transform: scale(1.1);
  box-shadow: 8px 8px 6px #3c3c3c;
  background-color: #fe2b75;
}


/* INDEX CSS */
#container {
  background: var(--background-color);
  padding-top: 15vh;
  padding-bottom: 25vh;
  height: fit-content;
  padding-right: 3.5vw;
  position: relative;
  background-size: cover;
}
#tilt {
  width: 30vw;
  height: auto;
}


/* ABOUT PAGE CSS */


/* STUDENTS PAGE CSS */

#studentspics {
  margin-left: 5vw;
  width: 30vw;
  height: auto;
}


/* CONTENT PAGES CSS */

#contentspan {
  color: #007bf7;
  text-decoration: none;
  cursor: pointer;
}
#tabbar {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
}
#activelink {
  font-weight: 800;
}

/* SLUG POST CSS */

#postcontainer {
  align-content: center;
  padding-top: 9vh;
  padding-bottom: 25vh;
  padding-left: 22vw;
  padding-right: 22vw;
  min-height: 100vh;
  height: fit-content;
  width: fit-content;
  /* max-width: 100%; */
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #postcontainer {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
#postbody {
  padding-top: 30px;
  font-weight: 400;
  line-height: 2;
  width: 100%;
}


/* MISCELLANEOUS COMMENTS THAT MAY COME IN USEFUL */

/* #contentcontainer {
  padding-top: 15vh;
  padding-bottom: 25vh;
  height: fit-content;
  position: relative;
  background-image: url('../public/contentbg.svg');
  background-size: cover;
} */


/* #bg3 {
  background-image: url('../public/tcss7.jpg');
  background-size: cover;
} */

.hometest {
  margin-top: 15vh;
}